<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/main.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  <title>User details</title>
</head>
<body onload="globalMounted()">
  <div>
    <div id="nav">
      <button class="transaparent" onclick="goBack()">
        <i class="material-icons">arrow_back</i> 
        <span>BACK</span>
      </button>
    </div>
    <div class="container">
      <div class="user-card">
        <div class="flex">
          <div>
            <i class="material-icons"
            style="font-size: 3em; padding: 10px;">person</i> 
          </div>
          <div>
            <div class="title" id="profile-name">Full Name</div>
            <div id="profile-email">Loading</div>            
          </div>
        </div>
      </div>
      <div class="stats flex">
        <div class="stat-card">
          <div class="heading">Questions</div>
          <div id="question-count" class="main">0</div>
        </div>
        <div class="stat-card">
          <div class="heading">Answers</div>
          <div id="answer-count" class="main">0</div>
        </div>
      </div>
      <br>
      <div>User's questions</div>
      <hr>
      <div id="not-found">
        <span class="title">Question not found</span>
      </div>
      <div id="question-list">
        <br>
        <div id="question" class="question-card">
          <div>Title</div>
          <div>skjdks cdkjsdc skdjcs kdjc sdkcj skdcj sdkcj skdcj sdkjc sd</div>
        </div>
      </div>
    </div>
  </div>
  <div id="snackbar"></div>
  <div class="overlay" id="loading-overlay">
    <div class="card pad">
      Loading ...
    </div>
  </div>
  <script>
    var userId = null;
    var user = null;
    var currentUser = localStorage.currentUser ? JSON.parse(localStorage.currentUser) : null

    function goBack() {
      var redirect = getParameterByName('redirect');
      window.location.href = !redirect ? '//' + window.location.host + 
            '/questions/' : redirect;
    }

    function getUser() {
      userId = parseInt(getParameterByName('user_id'))

      user = localStorage.user ? JSON.parse(localStorage.user) : null
      if (user && (user.id === userId)) {
        setUser(user)
      } else {
        http(HOST + '/users/' + userId, null, function(res) {
          user = res.data;
          setUser(res.data);
          getQuestions();
        }, function(err) {
          // show not found
        })
      }
    }

    function setUser(user){

      var profileName = findById('profile-name');
      var profileEmail = findById('profile-email');
      var questionCount = findById('question-count');
      var answerCount = findById('answer-count');

      profileName.innerHTML = user.fname + ' ' + user.lname;
      profileEmail.innerHTML = user.email;
      questionCount.innerHTML = user.stats && user.stats.questionCount ?
        user.stats.questionCount : 0
      answerCount.innerHTML = user.stats && user.stats.answerCount ?
        user.stats.answerCount : 0
    }
    
    function getQuestions() {
      var query = '';//findById('query-input').value
      var options = {
        method: 'GET',
        headers: {
          'Authorization': 'Bearer ' + localStorage.currentUserAuth, 
        },
      }
      http(HOST + '/users/' + user.id + '/questions?title='+query, options, function(res) {
        // clear list
        clearQuestions()
        if (res.data.length > 0) {
          // append to list
          appendQuestions(res.data)
        } else {
          showNotFound(true)
        }
        
      }, function(err) {
        // show not found
      })
      return false;    
    }

    function clearQuestions() {
      showNotFound(false)

      var questionList = findById('question-list')
      while (questionList.firstChild) {
        questionList.removeChild(questionList.firstChild);
      }
    }
    
    function appendQuestions(questions) {
      var questionList = findById('question-list')
      questions.forEach(question => {
        var link = document.createElement('a')
        link.value = question
        // console.log('VAL', link.value);
        link.href = '/questions/' + 
          question.id + '?id=' +
          question.id;
        link.appendChild(getQuestionTemplate(question))
        questionList
        .appendChild(link)
      });
    }

    function getQuestionTemplate(question) {

      var rootNode = document.createElement("DIV");
      rootNode.className = "question-card";
      
      var titleNode = document.createElement('DIV')
      titleNode.className = "title"

      titleNode.appendChild(document.createTextNode(question.title))  
      var bodyNode = document.createElement('DIV')
      bodyNode.appendChild(document.createTextNode(question.body))
      rootNode.appendChild(titleNode)
      rootNode.appendChild(bodyNode)  
      
      return rootNode
    }

    function showNotFound(isFound) {
      isFound ? showElement('not-found') : hideElement('not-found')
    }
    
    function initPage(){
      getUser();
    }

    function mounted() {
      initPage()
    }
  </script>
  <style>
    body {
      background: #f2f2f2;
    }
    .user-card {
      padding: 16px;
      background: white;
      border-radius: 3px;
      box-shadow: 0px 5px 10px -2px #bcd1db;
      margin-bottom: 10px;
      cursor: pointer;
    }
    
    .question-card, .stat-card {
      padding: 16px;
      background: white;
      border-radius: 3px;
      /* box-shadow: 0px 5px 10px -2px #bcd1db; */
      margin-bottom: 10px;
    }

    .question-card:hover {
      box-shadow: 0px 15px 20px -2px #bcd1db;
    }

    .question-body{ 
      margin-right: 10px; 
    }

    .stat-card {
      margin-right: 20px;
    }

    .stat-card > .main {
      font-size: 3em;
    }

    .stat-card > .heading {
      color: #aaa;
    }

    /* .answer-actions {
      color: #ccc;
    } */

    .answer-actions-icon:hover {
      color: #333;
    }
    
  </style>
</body>
</html>