<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="container">
      <section>
        <div>Welcome to StackOverflow-lite</div>
        <div>powered by Amanze</div>
        <div>
          <br>
          <a href="/questions">
            <button id="">
              Get started
            </button>
          </a>
        </div>
      </section>
    </div>
  </div>
  <script>
    document.getElementById("myBtn").addEventListener("click", displayDate);
  </script>
</body>
</html>