<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/main.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  <title>Question details</title>
</head>
<body onload="globalMounted()">
  <div>
    <div id="nav">
      <button class="transaparent">
        <i class="material-icons">arrow_back</i> 
        <span>BACK</span>
      </button>
    </div>
    <div class="container">
      <section>
        <div>
          <div id="question" class="question-card">
            <div class="flex">
              <div class="pad5">
                <i class="material-icons">people</i>
              </div>
              <div class="pad5">Amanze Ogbonna</div>
            </div>
            <div class="title" id="question-title">Title</div>
            <div id="question-body">Loading question ... </div>
          </div>
        </div>
        <div id="answer-form-holder">
          <button class="accent raised" onclick="newAnswer()">ANSWER QUESTION</button>
          <!-- <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div> -->
          <br>
          <br>
        </div>
        <div id="empty-state">
          <span class="title">No answers yet</span>
        </div>
        <div id="answer-list">
          <br>
        </div>
      </section>
    </div>
  </div>
  <div id="snackbar"></div>
  <div class="overlay" id="loading-overlay">
    <div class="card pad">
      Loading ...
    </div>
  </div>
  <script>
    var questionId = null;
    var question = null;
    var currentUser = localStorage.currentUser ? JSON.parse(localStorage.currentUser) : null

    function getQuestion() {
      questionId = parseInt(getParameterByName('id'))

      question = localStorage.question ? JSON.parse(localStorage.question) : null
      if (question && (question.id === questionId)) {
        setQuestion(question)
      } else {
        http(HOST + '/questions/' + questionId, null, function(res) {
          setQuestion(res.data)
          question = res.data
          getAnswers(questionId);
        }, function(err) {
          // show not found
        })
      }

    }

    function setQuestion(question) {
      var questionTitle = findById('question-title');
      var questionBody = findById('question-body');

      questionTitle.innerHTML = question.title;
      // questionTitle.appendChild(
      //     document.createTextNode(question.title))
      questionBody.innerHTML = question.body;
    }

    function getAnswers(questionId) {
      // var query = findById('query-input').value
      var options = {
        method: 'GET',
        headers: {
          'Authorization': 'Bearer ' + localStorage.currentUserAuth, 
        },
      }
      http(HOST + '/questions/' + questionId + '/answers', options, function(res) {
        // clear list
        clearAnswers()
        if (res.data.length > 0) {
          // append to list
          appendAnswers(res.data)
        } else {
          showEmptyState(true)
        }
        
      }, function(err) {
        // show not found
      })
      // return false;    
    }

    function deleteAnswer(answerId) {
      showElement('loading-overlay');
      // console.log('AnswerId', answerId);
      
      var options = {
        method: 'DELETE',
        headers: {
          'Authorization': 'Bearer ' + localStorage.currentUserAuth, 
        },
      }
      http(HOST + '/questions/' + questionId + '/answers/' + answerId, options, 
        function(res) {
          // hideElement('loading-overlay'); 
          // set         
          window.location.href = '//' + window.location.host + 
            '/questions/' + questionId + '?id=' + questionId + '&message=' + res.message;
          
        }, function(err) {
          showSnackbar(getErrorText(err));
          hideElement('loading-overlay');
        })
    }

    function showEmptyState(isFound) {
      isFound ? showElement('empty-state') :
        hideElement('empty-state')
    }

    function clearAnswers() {
      showEmptyState(false)

      var answerList = findById('answer-list')
      while (answerList.firstChild) {
        answerList.removeChild(answerList.firstChild);
      }
    }

    function appendAnswers(answers) {
      var answerList = findById('answer-list')
      answers.forEach(answer => {
        answerList
        .appendChild(getAnswerTemplate(answer))
      });
    }

    function getAnswerTemplate(answer) {
      var statNode = document.createElement('DIV')
      statNode.innerHTML = `
        <div style="margin-right: 20px;">
          <center>
            <div class="fab" onclick="voteAnswerUp(` + answer.id + `)">
              <i class="material-icons">arrow_drop_up</i>
            </div>
          </center>
          <div>
            <center id="answer-votes-`+ answer.id +`">
            `+ (answer.votes ? answer.votes : 0) +`  
            </center>
          </div>
          <center>
            <div class="fab" onclick="voteAnswerDown(` + answer.id + `)">
              <i class="material-icons">arrow_drop_down</i>
            </div>
          </center>
        <div>
      `;
      var statMarkedNode = document.createElement('DIV')
      statMarkedNode.innerHTML = `
        <div>
          <div class="fab">
            <i class="material-icons">check</i>
          </div>
        </div>`;

      if (question.accepted_answer_id == answer.id) {
        statNode.appendChild(statMarkedNode)
      }

      var deleteNode = document.createElement('DIV')
      deleteNode.innerHTML = `
        <div>
          <center>
            <div class="fab" onclick="deleteAnswer(` + answer.id + `)">
              <i class="material-icons answer-actions-icon">delete</i>
            </div>
          </center>
        </div>`;
      var actionNode = document.createElement('DIV')
      actionNode.className = 'answer-actions';

      if (question.accepted_answer_id != answer.id && currentUser && (answer.user_id === currentUser.id)) {
        actionNode.appendChild(deleteNode)
      }

      var rootNode = document.createElement("DIV");
      rootNode.className = "answer-card flex"
      var bodyNode = document.createElement('DIV')
      bodyNode.className = "flex1 answer-body"
      bodyNode.appendChild(document.createTextNode(answer.body))
      
      var markCorrectNode = document.createElement('DIV')
      markCorrectNode.innerHTML = `
        <div>
          <button style="float: right" onclick="markAnswer(` + answer.id + `)">
            <i class="material-icons answer-actions-icon">check</i> 
            <span>CORRECT</span>
          </button>
        </div>`;
        

      if (!question.accepted_answer_id && currentUser && (question.user_id === currentUser.id)) {
        bodyNode.appendChild(markCorrectNode)
      }

      rootNode.appendChild(statNode)  
      rootNode.appendChild(bodyNode)  
      rootNode.appendChild(actionNode)  
      
      return rootNode
    }

    function newAnswer(){
      window.location.href = '/questions/' +
        questionId + '/answers/new?id=' +
        questionId;
    }

    function voteAnswerUp(answerId) {
      voteAnswer(answerId, 1)
    }

    function voteAnswerDown(answerId) {
      voteAnswer(answerId, -1)
    }

    function voteAnswer(answerId, value) {
      showElement('loading-overlay');
      
      var options = {
        method: 'PUT',
        body: JSON.stringify({
          value: value
        }),
        headers: {
          'Authorization': 'Bearer ' + localStorage.currentUserAuth, 
        },
      }
      http(HOST + '/answers/' + answerId + '/answer_votes', options, 
        function(res) {
          window.location.href = '//' + window.location.host + 
            '/questions/' + questionId + '?id=' + questionId + '&message=' + res.message;
        }, function(err) {
          showSnackbar(getErrorText(err));
          hideElement('loading-overlay');
        })
    }

    function markAnswer(answerId) {
      showElement('loading-overlay');
      
      var options = {
        method: 'PUT',
        headers: {
          'Authorization': 'Bearer ' + localStorage.currentUserAuth, 
        },
      }
      // /questions/:question_id/answers/:id
      http(HOST + '/questions/' + questionId + '/answers/' + answerId , options, 
        function(res) {
          window.location.href = '//' + window.location.host + 
            '/questions/' + questionId + '?id=' + questionId + '&message=' + res.message;
        }, function(err) {
          showSnackbar(getErrorText(err));
          hideElement('loading-overlay');
        })
    }
    
    function initPage(){
      getQuestion();
    }

    function mounted() {
      initPage()
    }
  </script>
  <style>
    body {
      background: #f2f2f2;
    }
    .question-card {
      padding: 16px;
      background: white;
      border-radius: 3px;
      box-shadow: 0px 5px 10px -2px #bcd1db;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .question-card:hover {
      box-shadow: 0px 15px 20px -2px #bcd1db;
    }
    .answer-card {
      padding: 16px;
      background: white;
      border-radius: 3px;
      /* box-shadow: 0px 5px 10px -2px #bcd1db; */
      margin-bottom: 10px;
    }

    .answer-body{ 
      margin-right: 10px; 
    }

    .answer-actions {
      color: #ccc;
    }

    .answer-actions-icon:hover {
      color: #333;
    }
    
  </style>
</body>
</html>